In [46]:
import pandas as pd

In [48]:
df = pd.read_csv("archive/vgsales.csv")

In [50]:
print(df.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [52]:
print(df.isnull().sum())

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [54]:
df.dropna(inplace=True)

In [56]:
df["Year"] = df["Year"].fillna(df["Year"].median())

In [58]:
df["Year"] = pd.to_numeric(df["Year"], errors="coerce").astype("Int64")

In [60]:
print(df.dtypes)

Rank              int64
Name             object
Platform         object
Year              Int64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [62]:
df["Total_Regional_Sales"] = df["NA_Sales"] + df["EU_Sales"] + df["JP_Sales"] + df["Other_Sales"]

In [65]:
print(df.dtypes)

Rank                      int64
Name                     object
Platform                 object
Year                      Int64
Genre                    object
Publisher                object
NA_Sales                float64
EU_Sales                float64
JP_Sales                float64
Other_Sales             float64
Global_Sales            float64
Total_Regional_Sales    float64
dtype: object

In [71]:
top_games = df[["Name", "Global_Sales"]].sort_values(by="Global_Sales", ascending=False).head(10)
print(top_games)

                        Name  Global_Sales
0                 Wii Sports         82.74
1          Super Mario Bros.         40.24
2             Mario Kart Wii         35.82
3          Wii Sports Resort         33.00
4   Pokemon Red/Pokemon Blue         31.37
5                     Tetris         30.26
6      New Super Mario Bros.         30.01
7                   Wii Play         29.02
8  New Super Mario Bros. Wii         28.62
9                  Duck Hunt         28.31

In [75]:
df.to_csv("vgsales.csv", index=False, sep=";", decimal=",")